// Breakpoint Variables-----
$breakpoint-sm: 'screen and (min-width:1px)';
$breakpoint-md: 'screen and (min-width:768px)';
$breakpoint-lg: 'screen and (min-width:1024px)';
$breakpoint-xl: 'screen and (min-width:1440px)';

$breakpoints: (
  'sm':'#{$breakpoint-sm}',
  'md':'#{$breakpoint-md}',
  'lg':'#{$breakpoint-lg}',
  'xl':'#{$breakpoint-xl}'
);

// Colors
$trans-white: rgba(255, 255, 255, 0.6);
$white: rgba(255, 255, 255, 0.9);
$trans-black: rgba(0, 0, 0, 0.7);


// Component Variables-----

// // Header-----
$header-height: 70px;
$header-background: $trans-black;
$header-text-light: $white;
$navbar-padding: 0 15px;
$logo-h1-font-size: 1.5em;
$logo-h1-letter-spacing: 5px;
$logo-span-font-size: 1em;
$logo-span-letter-spacing: 8px;
$bars-icon-size: 2em;

// // Dropdown
$dropdown-height: 280px;
$dropdown-background: $trans-black;
$dropdown-hover-background: $trans-white;
$dropdown-link-padding: 20px;

// // Hero-----
$hero-height: 100vh;

// // Gallery-----

$gallery-padding: 10px;

// // Footer-----
$footer-text-color: $white;
$footer-padding: 5px;
$footer-height: 60px;
$footer-share-icon-size: 2em;
$footer-social-icon-size: 1.5em;
$social-icon-margin: 5px;
$footer-social-icon-background-size: 40px;
$footer-share-icon-background-size: 50px;
$footer-icon-position: -100vh;
$footer-icon-background: $trans-black;
$icon-transition-speed: 0.15s;
