// Breakpoint Variables-----
$breakpoint-sm: 'screen and (min-width:1px)';
$breakpoint-md: 'screen and (min-width:768px)';
$breakpoint-lg: 'screen and (min-width:1024px)';
$breakpoint-xl: 'screen and (min-width:1440px)';

$breakpoints: (
  'sm':'#{$breakpoint-sm}',
  'md':'#{$breakpoint-md}',
  'lg':'#{$breakpoint-lg}',
  'xl':'#{$breakpoint-xl}'
);

// Colors
$trans-white: rgba(255, 255, 255, 0.6);
$white: rgba(255, 255, 255, 0.9);


// Component Variables-----
// // Header-----
$header-height: 70px;
$header-background: transparent;
$header-text-light: $white;
$navbar-padding: 0 15px;
$logo-h1-font-size: 1.5em;
$logo-h1-letter-spacing: 5px;
$logo-span-font-size: 1em;
$logo-span-letter-spacing: 8px;
$bars-icon-size: 2em;

// // Dropdown
$dropdown-height: 170px;
$dropdown-lines: 1px solid $trans-white;
$dropdown-background: $trans-white;
$dropdown-hover-background: $trans-white;

// // Hero-----
$hero-height: 100vh;

// // Gallery-----


// // Footer-----
$footer-text-color: $white;
$footer-padding: $navbar-padding;
$footer-height: 50px;
$footer-share-icon-size: 2em;
$footer-social-icon-size: 1.5em;
$social-icon-padding: 0 0 0 20px;
$footer-icon-position: -50px;
$icon-transition-speed: 0.15s;
