footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: $footer-text-color;
  height: $footer-height;
  z-index: 99;
}

.footer-inner {
  height: 100%;
  display: flex;
  align-items: center;
  padding: $footer-padding;
}

.social-links {
  display: flex;
  align-items: center;
  &:hover > li:nth-child(1n+2) {
    bottom: 0;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $footer-icon-background;
    &:first-child {
      font-size: $footer-share-icon-size;
      height: $footer-share-icon-background-size;
      width: $footer-share-icon-background-size;
      border-radius: 50%;
    }
    &:nth-child(1n+2) {
      height: $footer-social-icon-background-size;
      width: $footer-social-icon-background-size;
      border-radius: 50%;
      font-size: $footer-social-icon-size;
      margin-left: $social-icon-margin;

      @include icon-position($footer-icon-position);
    }
    &:nth-child(2) {
      @include icon-transition(calc(#{$icon-transition-speed} * 1));
    }
    &:nth-child(3) {
      @include icon-transition(calc(#{$icon-transition-speed} * 2));
    }
    &:nth-child(4) {
      @include icon-transition(calc(#{$icon-transition-speed} * 3));
    }
    &:nth-child(5) {
      @include icon-transition(calc(#{$icon-transition-speed} * 4));
    }
    &:nth-child(6) {
      @include icon-transition(calc(#{$icon-transition-speed} * 5));
    }
  }
}
