.gallery {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: $gallery-padding;
}

.gallery-image {
  flex-basis: 100%;
  padding: $gallery-padding;
  img {
    @include responsive-img;
  }

  @include media(md) {
    flex-basis: 50%;
  }

  @include media(lg) {
    flex-basis: calc(100% / 3);
  }
}
