header {
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $header-background;
  position: fixed;
  color: $header-text-light;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $navbar-padding;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: $logo-h1-font-size;
    letter-spacing: $logo-h1-letter-spacing;
  }

  span{
    font-size: $logo-span-font-size;
    letter-spacing: $logo-span-letter-spacing;
  }
}

.nav {
  height: 100%;
  width: $header-height;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    font-size: $bars-icon-size;
  }
}
