.hero {
  height: $hero-height;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: height .3s ease-in-out;

  img {
    @include responsive-img;
    object-position: bottom;
  }
}
